{% extends 'interface/index/base.html' %}

{% block title %}

<div class="mx-auto text-center mt-5 mb-5">
    <h5>Produtos</h5>
    <p>Quickly build an effective</p>
</div>

{% endblock %}

{% block main %}

<div class="card">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <a href="{% url 'produto_createPage' %}" class="btn btn-outline-success float-end pb-2">Adicionar</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Unidade de Medida</th>
                <th scope="col">Operações</th>
            </tr>
            </thead>
            <tbody>
            {% for produto in produtos %}
            <tr>
                <th scope="row">{{ produto.id }}</th>
                <td>{{ produto.name }}</td>
                <td>{{ produto.unit }}</td>
                <td>
                    <a href="{% url 'produto_delete' produto.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                        </svg>
                    </a>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock %}